:root {
  --body: rgb(23, 26, 29);
  --listBackground: rgb(230, 226, 226);
  --rowColor: rgb(182, 199, 213);
  /* --rowColor: rgb(119, 168, 213); */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--body);
}

.todoWrapper {
  background: var(--listBackground);
  width: 50%;
  height: 20%;
  border-radius: 25px;
  border: 3px solid black;
  padding: 4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.todoRow {
  background-color: var(--rowColor);
  color: black;
  font-size: large;
  padding: 1rem;
  margin: 3rem;
  border: 1px solid black;
  border-radius: 20px;
}

.createTodoContainer {
  margin-bottom: 5rem;
}
